.covid-info-container{
    text-align: center;
    min-height: 100vh;
    padding-top: 30px;
    margin: 20px;
}

.covid-info-title{
    font-size: 2em;
    display: block;
}

.covid-info-description{
    margin: 20px;
    display: block;
    text-align: left;
}